@model MVC_Router.ViewModels.MemberViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.Label("LoginID", "會員帳號")
    <br />
    @Html.TextBoxFor(m => m.LoginID)
    <br />
    @Html.Label("Password", "密碼")
    <br />
    @Html.PasswordFor(m => m.Password)
    <p></p>
    <input type="submit" value="送出" />
}